.cta {
  margin-top: 9.1rem;
  @include respond(md) {
    margin-top: 4rem;
  }
  @include respond(phone) {
    margin-left: 3rem;
    margin-right: 3rem;
  }
  &__text {
    margin: auto;
    max-width: 44.3rem;
    text-align: center;
    margin-top: 1rem;
    padding: 0 0.5rem;
    p {
      margin-bottom: 3rem;
    }
  }
}
