.phonetablet {
  margin-top: 9.1rem;
  @include respond(tablet) {
    margin-top: 1rem;
  }
  @include respond(phone) {
    margin-top: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
  }

  &__text {
    max-width: 42.5rem;
    margin: 0 auto;
    margin-top: 1rem;
    margin-bottom: 6.5rem;
  }

  &__img {
    display: grid;
    justify-content: center;
    @include respond(tablet) {
      display: block;
    }
    img {
      display: block;
      @include respond(tablet) {
        max-width: 100%;
      }
    }
  }
}
